<script type="text/x-tmpl" id="tmpl-fibonacci-pending">
  <p class="lead">
    {%= o.roundData.question %}
  </p>

  <p>
    <em>Use your device to provide an answer that is believable</em>
  </p>
</script>
