<script type="text/x-tmpl" id="tmpl-fibonacci-question">
  {% if (o.gameObject.needAnswer()) { %}
    <p>
      {%= o.roundData.question %}
    </p>

    <%= form_tag answer_round_path("__ID__"), data: { live_guarded: "true" } do %>
      <div class="form-group">
        <input type="text" name="answer" class="form-control" placeholder="believable answer" data-guard="required" />
      </div>

      <input type="submit" class="btn btn-primary" value="submit" />
    <% end.sub("__ID__", "{%= o.id %}").html_safe %>
  {% } else { %}
    <p class="lead">
      Hold tight while we gather the other answers.
    </p>
  {% } %}
</script>
