<% if @game.current_round.game_object.pending? %>
  <p class="lead">
    Check your device
  </p>

  <p class="lead">
    Answer your questions with the funniest answer you can come up with
  </p>

  <p class="lead">
    Remember to answer both questions
  </p>
<% end %>
